[submodule "P2-Planning-for-High-Availability-and-Incident-Response-master"]
	path = P2-Planning-for-High-Availability-and-Incident-Response-master
	url = https://github.com/TheAstronauta/Planning-for-High-Availability-and-Incident-Response.git
